# Virtual environments
alical/
.venv/

# uv
.uv/
uv.lock

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Jupyter
.ipynb_checkpoints/

# Env files
.env
.env.*

# OS
.DS_Store
Thumbs.db
